<html>
  <% var datalist=["name","date","intime","outtime","comment"];
     data.forEach(function(shift){ %>
  
  <tr>
    <% if(change == shift.id){%>
    <td>
      <%- shift.name%>
    </td>
    <% datalist.shift();  %>
    <td>
      <input name= "date" type = "date" value = <%- shift.date %>>
    </td>
    <td>
      <input name= "intime" type = "time" value = <%- shift.intime %>>
    </td>
    <td>
      <input name= "outtime" type = "time" value = <%- shift.outtime %>>
    </td>
    <td>
      <input name= "comment" type = "text" value = <%- shift.comment %>>
    </td>
    <td><button name = "changeid" value = <%- change%>> 確定
    </button></td>
    <% datalist=["name","date","intime","outtime","comment"]}
       else{
       datalist.forEach(function(value){%>
    <td>
      <%- shift[value] %>
    </td>
    <% })%>
    <td>
      <button name = "updateno" value = <%- shift.id %>>修正</button>
      <button name = "delno" value = <%- shift.id %>>削除</button>
    </td>
    <% } %>
  </tr>
  <% })%>
</html>
